

.name_resume{
    width: 1440px;
    height: 131px;
    display: flex;
    float: left;
    justify-content: space-between;
    }
.name{
    font-size: 28px;
    padding: 17px 24px 17px 24px;
    margin: 50px 0 0 150px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    }
.btn-1{
    width: 226px;
    height: 56px;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    margin: 38px 166px 0 0;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600px;
    }
.near_future{
    width: 1440px;
    height: 652px;
    float: left;
    margin: 0 0 74px 0;
    background-image: url(../B10A1-Challenge-Begins/assets/Hero-bg.png);
}
.hope{
    width: 998px;
    height: 582px;
    float: left;
    margin: 26px 221px 44px 221px;
}
.image-box-1{
    width: 998px;
    height: 272px;
    float: left;
}
.image-box-1 img{
    width: 240px;
    height: 240px;
    margin: 0 379px 32px 379px;
}
.heading-box-1{
    width: 998px;
    height: 310px;
    float: left;
}
.heading-1{
    font-size: 48px;
    text-align: center;
}
.para-1{
    font-size: 16px;
}
.btn-2{
    width: 170px;
    height: 24px;
    float:left;
    padding: 21px 24px 21px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    margin: 32px 398px 44px 398px;
    font-size: 16px;
    opacity: 0.8;
    font-weight: 600px;
    line-height: 2px;
    text-align: center;
}
.why_web{
    width: 946px;
    height: 1235px;
    float: left;
    padding: 80px 97px 80px 97px;
    margin: 0 152px 88px 148px;
    background-color: rgba(13, 19, 33, 0.02);
}
.heading-box-2{
    width: 946px;
    height: 163px;
    float: left;
    text-align: center;
}
.heading-box-2 p{
    width: 852px;
    height: 76px;
    float: left;
    text-align: center;
    margin: 0 47px 0 47px;
}
.info-box{
        width: 850px;
        height: 240px;
        padding: 48px;
        float: left;
        display: flex;
        justify-content: space-between;
}
.left-box{
    width: 480px;
    height: 220px;
    float: left;
    margin: 10px 0;
}
.img-box{
    width: 260px;
    height: 210px;
    float: left;
    margin:15px 0;
}
.img-box img{
    width: 260px;
    height: 210px;
}
.btn-learn{
    width: 110px;
    height: 25px;
    padding: 5px 10px;
    border: 1px solid rgb(13, 19, 33);
    font-size: 16px;
    opacity: 0.7;
    font-weight: 600px;
    line-height: 2px;
    text-align: center;
    margin-top: 120px;
}
.btn-learn a{
    text-decoration: none;
}
.inspiration{
    width: 1140px;
    height: 777px;
    float: left;
    margin: 0 152px 149px 148px;
    background-color: rgba(13, 19, 33, 0.02);
}
.heading-box-3{
    width: 852px;
    height: 115px;
    float: left;
    margin: 0 144px 48px 144px;
    text-align: center;
}
heading-3{
    
}
.video{
    width: 1076px;
    height: 550px;
    float: left;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.05);
}
.video iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    float: left;
}
.targets{
    width: 1140px;
    height: 1445px;
    float: left;
    margin: 0 150px 41px 150px;
}
.c-targets{
    width: 1140px;
    height: 463px;
    float: left;
    margin-bottom: 111px;
}
.heading-box-4{
    width: 852px;
    height: 115px;
    float: left;
    margin: 0 144px 48px 144px;
    text-align: center;
}
.ctarget-box{
    width: 1140px;
    height: 300px;
    float: left;
    display: flex;
    justify-content: space-evenly;
}
.ctarget{
    width: 284px;
    height: 220px;
    float: left;
    padding: 40px;
}
.n-targets{
    width: 1140px;
    height: 871px;
    float: left;
}
.heading-box-5{
    width: 852px;
    height: 115px;
    float: left;
    margin: 0 144px 48px 144px;
    text-align: center;
}
.ntargets-box{
    width: 1060px;
    height: 140px;
    padding: 40px;
    float: left;
}
.ntarget-img{
    width: 120px;
    height: 140px;
    float: left;
    margin: 16px 30px 16px 0;
}
.ntarget-text{
    width: 910px;
    height: 140px;
    float: left;
}
.support{
    width: 1044px;
    height: 186px;
    background-color: red;
    float: left;
    padding: 64px 48px 64px 48px;
    margin: 0 150px 79px 150px;
}
.suggestion{
    width: 1044px;
    height: 186px;
    float: left;
    background-color: yellow;
}
.ending{
    width: 1140px;
    height: 36px;
    background-color: rgba(13, 19, 33, 0.03);
    float: left;
    padding: 32px 150px 32px 150px;
    display: flex;
    justify-content: space-between;
}
.last{
    width: 1140px;
    height: 36px;
    float: left;
}
.awlad{
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600px;
    line-height: 20px;
}
.media{
    display: flex;
    justify-content:space-around;
}
.mediax{
    margin-right: 20px;
}